.backButtonContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
 
}

.backButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 4px;
  font-size: 12px;
}

/* Tablet */
@media (min-width: 768px) {
 .backButtonContainer {
  padding: 12px 40px;
 }
}

/* Desktop */
@media (min-width: 1024px) {
 .backButtonContainer {
  padding: 12px 100px;
 }
}
