.productContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 40px;
}

.productImageContainer {
  position: relative;
  width: 260px;
  height: 273px;
}

.productInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 361px;
}

.productTitlePrice {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.tittle {
  font-size: 20px;
}

.price {
  font-size: 14px;
}

.selectorsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* STORAGE */

.storageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  width: 100%;
}

.storageOption {
  display: flex;
  width: 100%;
  border: 1px solid var(--basic-gray);
}

.storageOption button {
  flex: 1;
  border: none;
  background: white;
  padding: 12px 0;
  cursor: pointer;
  font-size: 12px;
}

.storageOption button:not(:last-child) {
  border-right: 0.5px solid #ccc;
}

.storageOption button.selectedStorage {
  border: 1px solid black;
}

/* COLORS */

.colorsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  width: 100%;
}

.colorsOptions {
  display: flex;
  gap: 16px;
}

.colorButton {
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  padding: 1px;
}

.colorButton.selectedColor {
  border: 1px solid black;
}

.colorSquare {
  width: 24px;
  height: 24px;
}

.colorLabel {
  font-size: 12px;
  min-height: 14px;
}

/* BUTTON */

.buttonContainer {
  width: 100%;
  height: 48px;
}

/* Tablet */

@media (min-width: 768px) {
  .productContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1023px;
    margin: 0 auto;
  }

  .productInfoContainer {
    flex: 1;
    max-width: 361px;
  }

  .productImageContainer {
    width: 337px;
    height: 416px;
  }

  .buttonContainer {
    width: 260px;
  }
}

/* Desktop */

@media (min-width: 1024px) {
  .productContainer {
    max-width: 1200px;
  }

  .productImageContainer {
    width: 510px;
    height: 630px;
  }

  .productInfoContainer {
    gap: 64px;
  }

  .buttonContainer {
    width: 380px;
    height: 56px;
  }
}