.specsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 40px;
}

.title {
  font-size: 20px;
}

.SpecsRow {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  gap: 12px;
  border-top: 0.5px solid var(--foreground);
  font-size: 12px;
}

.SpecsRow:last-child {
  border-bottom: 0.5px solid var(--foreground);
}

.SpecsRow dt {
  flex: 1;
}
.SpecsRow dd {
  flex: 1;
}


/* Tablet */
@media (min-width: 768px) {
  .specsContainer {
    max-width: 1023px;
    margin: 0 auto;
  }
  .SpecsRow {
    gap: 48px;
  }

}

/* Desktop */
@media (min-width: 1024px) {
  .specsContainer {
    max-width: 1200px;
  }

}
