.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  height: var(--navbar-height);
}

.cartContainer {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 6px;
  color: var(--foreground);
  text-decoration: none;
}

.cartCount {
  line-height: 16px;
}


/* Tablet */
@media (min-width: 768px) {
 .navbar {
  padding: 24px 40px;
 }
}

/* Desktop */
@media (min-width: 1024px) {
 .navbar {
  padding: 12px 100px;
 }
}