*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-font-color: #70736d;
  --warning: #df0000;
  --basic-gray: #cccccc;
  --navbar-height: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  gap: 24px;
}

.detailPageContainer {
  display: flex;
  flex-direction: column;
}

.productContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 40px;
}

.cartPageContainer {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 40px;
}

/* Tablet */
@media (min-width: 768px) {
  .mainContainer {
    padding-top: 48px;
    gap: 48px;
  }

  .detailPageContainer {
    padding-top: 48px;
    gap: 48px;
  }

  .cartPageContainer {
    padding-top: 48px;
    gap: 48px;
  }
}
