*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-font-color: #70736D;
  --font-family: Helvetica, Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  padding-top: 24px;
  gap: 24px;
}

